* {
    margin: auto;
}

body{
    max-width: 1660px;

}
/* shared section */
.btn {
    font-size: 16px;
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;

}
/* nav secrtion */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 80px;
    

}
.nav-link{
    display: flex;
    list-style-type: none;
    gap: 25px;

}
nav a {
    color: black;
    font-size: 17px;
    text-decoration: none;
}

/* banner section  */
.banner {
    height: 650px;
    background-image: url("../assets/hero-bg.png");
}

